# Git
.git
.gitignore
.gitattributes

# Python
__pycache__
*.pyc
*.pyo
*.egg-info
.pytest_cache
.mypy_cache
.coverage
htmlcov/

# IDE
.vscode
.idea
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Project specific
venv-proj/
.env
.env.local
*.log
notebooks/.ipynb_checkpoints

# Docker
.dockerignore
Dockerfile
docker-compose.yaml
